<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>377736655306-72nagta1eacsbs25auqfepp1pe9o91il.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.377736655306-72nagta1eacsbs25auqfepp1pe9o91il</string>
	<key>API_KEY</key>
	<string>AIzaSyA4m8TnebWAs0vAAewYAx023E_qYpoADI4</string>
	<key>GCM_SENDER_ID</key>
	<string>377736655306</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.invox</string>
	<key>PROJECT_ID</key>
	<string>invox-93ca0</string>
	<key>STORAGE_BUCKET</key>
	<string>invox-93ca0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:377736655306:ios:2ffea916401575b0a89f33</string>
</dict>
</plist>